@using SportsORM.Models
<div class="card">
    <div class="card-header bg-dark text-light">Level 3</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level3.cshtml.</p>
        <ol>
            <li>...all teams, past and present, that Samuel Evans has played with
                <table class="table table-striped">
                    <tr>
                        <th>Team Name</th>
                    </tr>
                    @foreach (Team p1 in ViewBag.SEteam)
                    {
                    <tr>
                        <td>@p1.TeamName</td>
                    </tr>
                    }
                </table>
            </li>
            <li>...all players, past and present, with the Manitoba Tiger-Cats
                <table class="table table-striped">
                    <tr>
                        <th>Player Name</th>
                    </tr>
                    @foreach (Player p2 in ViewBag.mtcplayer)
                    {
                    <tr>
                        <td>@p2.FirstName @p2.LastName</td>
                    </tr>
                    }
                </table>
            </li>
            <li>...all players who were formerly (but aren't currently) with the Wichita Vikings
                <table class="table table-striped">
                    <tr>
                        <th>Player Name</th>
                        <th>Current Team</th>
                    </tr>
                    @foreach (Player p3 in ViewBag.wvfp)
                    {
                    <tr>
                        <td>@p3.FirstName @p3.LastName</td>
                        <td>@p3.CurrentTeam</td>
                    </tr>
                    }
                </table>
            </li>
            <li>...every team that Jacob Gray played for before he joined the Oregon Colts
                <table class="table table-striped">
                    <tr>
                        <th>Team Name</th>
                    </tr>
                    @foreach (Team p4 in ViewBag.jgt)
                    {
                    <tr>
                        <td>@p4.TeamName</td>
                    </tr>
                    }
                </table>
            </li>
            <li>...everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach (League p4 in ViewBag.jt)
                    {
                    <tr>
                        <td>@p4.Name</td>
                        <td>@p4.Teams</td>
                    </tr>
                    }
                </table>
            </li>
            <li>...all teams that have had 12 or more players, past and present.</li>
            <li>...all players, sorted by the number of teams they've played for</li>
        </ol>
    </div>
</div>